@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

.bg-base-blue {
  background-color: #2D9CDB !important;
}
.text-base-blue {
  color: #2D9CDB !important;
}
.border-base-blue {
  border-color: #2D9CDB !important;
}
.bg-black-70 {
  background-color: rgba(0, 0, 0, 0.7) !important;
}